{% extends 'base.html' %}

{% block content %}


<div class="w3-container w3-card w3-padding-large">
  <h2 class="w3-center">Available Book List</h2>

  <table border = "1" class="w3-margin-bottom w3-wide">
    <tr>
      <th></th>
      <th>Book Name</th>
      <th>Author(s)</th> 
      <th>Rating</th>
      <th>Available copies</th>
    </tr>
    {% for books in book %}
    <tr>
      <td><input type="checkbox" name="isbn" value={{existing_list.isbn}}></td>
    	<td><a href="{% url 'viewbookprofile' req_isbn=books.isbn %}">{{books.book_name}} </a></td>
      <td>{{books.author_id.author_name}}</td>
      <td style="width: 150px;">
      {% if book.rating >= 1.0 %}
      <span class="fa fa-star checked"></span>
      {% else %}
      <span class="fa fa-star"></span>
      {% endif %}
      {% if book.rating >= 2.0 %}
      <span class="fa fa-star checked"></span>
      {% else %}
      <span class="fa fa-star"></span>
      {% endif %}
      {% if book.rating >= 3.0 %}
      <span class="fa fa-star checked"></span>
      {% else %}
      <span class="fa fa-star"></span>
      {% endif %}
      {% if book.rating >= 4.0 %}
      <span class="fa fa-star checked"></span>
      {% else %}
      <span class="fa fa-star"></span>
      {% endif %}
      {% if book.rating >= 5.0 %}
      <span class="fa fa-star checked"></span>
      {% else %}
      <span class="fa fa-star"></span>
      {% endif %}
      </td> 
      <td>{{books.count}}</td>
    </tr>
    {% endfor %} 
  </table>
</div>
    <!--div class="w3-container w3-padding-large w3-right w3-margin-bottom">
      <button type="submit" class="w3-button w3-border w3-hover-teal w3-left w3-round">Donate</button>
    </div-->
    <div class="w3-container w3-padding-large w3-left w3-margin-bottom">
      <a href="#" type="submit" class="w3-button w3-border w3-hover-teal w3-left w3-round" >Add a book manually</a>
    </div>

{% endblock %}
