{% extends 'base.html' %}

{% block content %}

<!--Notifications-->
<nav>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;
    {% if notification_count > 0 %}
    <span class="badge red">{{notification_count}}</span>
    {% endif %}
  </span>
</nav>
{% include 'side_navbar.html' %}
<!--Notifications-->
<div class="w3-container w3-card w3-padding-large">
  <h2 class="w3-center w3-margin-bottom">Available Book List</h2>
  <ul class="list-group">
    {% for books in book %}
      <li class="list-group-item d-flex justify-content-between align-items-center">  
      {% if books.count > 0 %}
      <span class="badge" style="background-color: green;">{{books.count}}</span>
      {% else %}
      <span class="badge" style="background-color: red;">{{books.count}}</span>
      {% endif %}
    	<a href="{% url 'viewbookprofile' req_isbn=books.isbn %}"><h4>{{books.book_name}}</h4>
      <i>{{books.author_id.author_name}}</i><br>
      <span class="stars">{{books.rating}}</span>
      </a>
    </li>
    {% endfor %} 
  </ul>

  <div>
    <div class="w3-right w3-margin-bottom">
      <a href="{% url 'addNew' %}" type="submit" class="w3-button w3-border w3-hover-teal w3-left w3-round" >Add a book manually</a>
    </div>
  </div>
</div>
  
<script>
$(function() {
    $('span.stars').stars();
});
$.fn.stars = function() {
    return $(this).each(function() {
        $(this).html($('<span />').width(Math.max(0, (Math.min(5, parseFloat($(this).html())))) * 16));
    });
}

</script>
{% endblock %}
