{% extends 'base.html' %}

{% block content %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<div class="w3-container w3-card w3-padding-large">
  <h2>Available Book List</h2>

  <table border = "1" class="w3-margin-bottom">
    <tr>
      <th>Book Name</th>
      <th>Rating</th>
      <th>Donated Book Count</th>
    </tr>
    {% for books in book %}
    <tr>
    	<td>{{books.book_name}}</td><td>{{books.rating}}</td> <td>{{books.count}}</td>
    </tr>
    {% endfor %} 
  </table>
</div>
{% endblock %}
