{% extends 'base.html' %}
{% load static %}
{% block title %}
<title> Pending </title>
<link rel="icon" href="{% static 'bookex-2.ico' %}" type="image/x-icon"> 
{% endblock %}
{% block content %}
<!--Notifications-->
{% include 'side_navbar.html' %}
<!--Notifications-->
<div class="w3-container">
<div class="w3-third">
{% if think_donate %}
  <h2 class="w3-padding-large w3-center"><u>Yet to Find Receiver</u></h2>
  <div class="w3-row-padding">
    {% for book,d_book,author in want_to_donate %}
    <div class="w3-col m12 w3-padding-small">
      <div class="w3-container w3-card w3-padding-large">
         <a href="{% url 'viewbookprofile' req_isbn=book.isbn.isbn %}">
           {% load static %}
            <div class="profile-header-container">   
              <div class="profile-header-img">
                    <img class="img-rounded" src="{{book.photo.url}}" alt="Photo" style="width:250px; height: 250px;">
              </div>
            </div>
          </a>
          <div class="w3-center">
            <p class="w3-wide ">
              <a href="{% url 'viewbookprofile' req_isbn=book.isbn.isbn %}">
                <h4>{{d_book.book_name}}</h4>
              </a>
              <p>by <i class="authors">{{author.author_name}}</i></p>
            </p>
            <div class="w3-margin-top">
              <input type="hidden" name="wishlist" id="wishlist" value="{{wish.id}}">
            <form action="{% url 'donation_cancel' %}">
                <input type="hidden" name="boiii" id="boiii" value="{{book.book_id}}">
                <button class="btn btn-info btn-s w3-right" type="submit" onclick="return finalReject();" >Remove from Donation List</button>   
              </form>           
            </div> 
          </div>
         </div>
      </div> 
  {% endfor %}
  </div>
  {% endif %}
  </div>
<div class="w3-third">
{% if has_receive %}
  <h2 class="w3-padding-large w3-center"><u>Yet to Receive</u></h2>
  <div class="w3-row-padding">
    {% for book,re_book,author,cur_user,wish in receive %}
    <div class="w3-col m12 w3-padding-small">
      <div class="w3-container w3-card w3-padding-large">
      From: <i class="username"><a href="{% url 'viewprofile' username=cur_user.user_name %}">{{cur_user.user_name}}</a></i> 
         <a href="{% url 'viewbookprofile' req_isbn=book.isbn.isbn %}">
           {% load static %}
            <div class="profile-header-container" style="margin-top: -45px">   
              <div class="profile-header-img">
                    <img class="img-rounded" src="{{book.photo.url}}" alt="Photo" style="width:250px; height: 250px;">
              </div>
            </div>
          </a>
          <div class="w3-center">
            <p class="w3-wide " >
              <a href="{% url 'viewbookprofile' req_isbn=book.isbn.isbn %}">
                <h4>{{re_book.book_name}}</h4>
              </a>
              <p>by <i class="authors">{{author.author_name}}</i></p>
            </p>
            <div class="w3-margin-top">
              
                <form action="{% url 'confirm_rejection' %}">
                    <input type="hidden" name="wishlist" id="wishlist" value="{{wish.id}}">
                    <input type="hidden" name="boiii" id="boiii" value="{{book.book_id}}">
                      <button class="btn btn-info btn-s w3-right" onclick="return  finalReject('{{boi}}', '{{wish}}')" style="margin-top: -5px;">Cancel</button>
                    </form>
                    <form action="{% url 'confirm_donation' %}">
                        <input type="hidden" name="wishlist" id="wishlist" value="{{wish.id}}">
                        <input type="hidden" name="boiii" id="boiii" value="{{book.book_id}}">
                          <button class="btn btn-info btn-s w3-right w3-margin-right" onclick="return finalConfirm('{{boiii}}', '{{wish}}'" style="margin-top: -5px;">Confirm</button>
                        </form>
            </div> 
          </div>
      </div>
    </div> 
    {% endfor %}
  </div>
{% endif %}
</div>
<div class="w3-third">
{% if has_donate %}
  <h2 class="w3-padding-large w3-center"><u>Yet to Donate</u></h2>
  <div class="w3-row-padding">
    {% for book,d_book,author,cur_user in donate %}
    <div class="w3-col m12 w3-padding-small">
      <div class="w3-container w3-card w3-padding-large">  
         To: <i class="username"><a href="{% url 'viewprofile' username=cur_user.user_name %}">{{cur_user.user_name}}</a></i>
         <a href="{% url 'viewbookprofile' req_isbn=book.isbn.isbn %}">
           {% load static %}
            <div class="profile-header-container" style="margin-top: -45px">   
              <div class="profile-header-img">
                    <img class="img-rounded" src="{{book.photo.url}}" alt="Photo" style="width:250px; height: 250px;">
              </div>
            </div>
          </a>
          <div class="w3-center">
            <p class="w3-wide ">
              <a href="{% url 'viewbookprofile' req_isbn=book.isbn.isbn %}">
                <h4>{{d_book.book_name}}</h4>
              </a>
              <p>by <i class="authors">{{author.author_name}}</i></p>
            </p>
            <div class="w3-margin-top">
              <input type="hidden" name="wishlist" id="wishlist" value="{{wish.id}}">
            <form action="{% url 'confirm_donate_cancel' %}">
                <input type="hidden" name="boiii" id="boiii" value="{{book.book_id}}">
                <button class="btn btn-info btn-s w3-right" type="submit" onclick="return finalReject();" >Cancel Donation</button>   
              </form>           
            </div> 
          </div>
         </div>
      </div> 
  {% endfor %}
  </div>
  {% endif %}
  </div>
  {% if not has_receive and not has_donate and not think_donate%}
  <div class="fullscreen nothingtodo"  style="padding-top: 40px; padding-right: 40px;">
    <h1 class="w3-padding-large w3-center w3-margin-top"> Nothing to do here </h1>
  </div>
  {% endif %}

<script>
function finalConfirm(val1, val2){
  alert("Congrats on your book! We hope you like it ^_^")
  document.getElementById("overlay2").style.display = "none";
  document.getElementById("boiii").value = val1;
    document.getElementById("wishlist").value = val2;
}
function finalReject(val1, val2){
  alert("We respect your decision ^_^")
  document.getElementById("overlay2").style.display = "none";
  document.getElementById("boiii").value = val1;
    document.getElementById("wishlist").value = val2;
}
</script>

{% endblock %}
