{% extends 'base.html' %}
{% load static %}
{% block title %}
<title> Pending </title>
<link rel="icon" href="{% static 'bookex-2.ico' %}" type="image/x-icon"> 
{% endblock %}
{% block content %}

<div class="w3-container">
{% if has_receive %}
  <h2 class="w3-padding-large w3-center"> Yet to receive </h2>
  <div class="w3-row-padding">
    {% for book,re_book,author in receive %}
    <div class="w3-col m12 w3-padding-small">
      <div class="w3-container w3-card w3-padding-large">  
         <a href="{% url 'viewbookprofile' req_isbn=book.isbn.isbn %}">
           {% load static %}
            <div class="profile-header-container">   
              <div class="profile-header-img">
                    <img class="img-rounded" src="{{book.photo.url}}" alt="Photo" style="width:250px; height: 250px;">
              </div>
                <div class="w3-center">
                  <p class="w3-wide ">

                  <h2>{{re_book.book_name}}</h2>
                  <p>by <i class="authors">{{author.author_name}}</i></p>
                  </p> 
                  <p > {{book.edition}}
                  {% if book.edition == 1 %}
                  st edition
                  {% elif book.edtion == 2 %}
                  nd edition
                  {% else %]
                  th edition
                  {% endif %}
                  </p>
              </div>
              
            </div>
         </a>
      </div>
    </div> 
    {% endfor %}
  </div>
{% endif %}
{% if has_donate %}
  <h2 class="w3-padding-large w3-center"> Yet to donate </h2>
  <div class="w3-row-padding">
    {% for book,d_book,author in donate %}
    <div class="w3-col m12 w3-padding-small">
      <div class="w3-container w3-card w3-padding-large">  
         <a href="{% url 'viewbookprofile' req_isbn=book.isbn.isbn %}">
           {% load static %}
            <div class="profile-header-container">   
              <div class="profile-header-img">
                    <img class="img-rounded" src="{{book.photo.url}}" alt="Photo" style="width:250px; height: 250px;">
              </div>
              {{d_book.book_name}}<br>
              {{author.author_name}}
            </div>
         </a>
      </div>
    </div> 
    {% endfor %}
  </div>
{% endif %}
{% if not has_receive and not has_donate %}
<div class="fullscreen nothingtodo"  style="padding-top: 40px; padding-right: 40px;">
<h1 class="w3-padding-large w3-center w3-margin-top"> Nothing to donate </h1>
</div>
{% endif %}
</div>
{% endblock %}
