{% extends 'base.html' %}
{% load static %}
{% block title %}
<title> Wishlist </title>
<link rel="icon" href="{% static 'bookex-2.ico' %}" type="image/x-icon"> 
{% endblock %}
{% block content %}

<div class="w3-container">
{% if haswishes %}
  <h2 class="w3-padding-large w3-center"> Your Wishlist</h2>
  <div class="w3-row-padding">
  <ul class="list-group">
    {% for book in books %}
      <li class="list-group-item d-flex justify-content-between align-items-center"> 
         <a href="{% url 'viewbookprofile' req_isbn=book.isbn %}"> <h3>{{book.book_name}}</h3></a>
        <i>{{book.author_name}}</i><br><br>
        <p> Wished for: {{book.count}} copies </p><br>
        <div class="w3-container" style="margin-top: -55px; margin-bottom: 15px; margin-right: -15px">
            <form action="{% url 'confirm_wish_cancel' %}">
              <input type="hidden" name="wishlist" id="wishlist" value="{{book.id}}">
              <button class="btn btn-warning btn-sm w3-right" type="submit" onclick="return finalReject()" >Remove from wishlist</button>
            </form>
        </div>
      </li>
    {% endfor %}
    </ul>
  </div>
{% else %}
  <h2 class="w3-padding-large"> You currently don't have anything on your wishlist </h2>
{% endif %}
</div>
<script>
$(function() {
    $('span.stars').stars();
});
$.fn.stars = function() {
    return $(this).each(function() {
        $(this).html($('<span />').width(Math.max(0, (Math.min(5, parseFloat($(this).html())))) * 16));
    });
}

function finalReject(){
  alert("One book removed from wishlist")
}
</script>

{% endblock %}

