<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  {% block title %}
  <link rel="icon" href="{% static 'bookex.ico' %}" type="image/x-icon"> 
  <title>BookEX</title>
  {% endblock %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/bootstrap_min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap_theme_min.css' %}">
  <link rel="stylesheet" href="{% static 'css/roboto.css' %}">
  <link rel="stylesheet" href="{% static 'css/w3.css' %}">
  <link rel="stylesheet" href="{% static 'css/bookex.css' %}">
  
</head>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

<body>
  <main>
    <div class="loginfo" style="position: fixed; z-index: 999;">
      {% if user.is_authenticated %}
      <!-- nav_bar-->
      <div class="w3-top">
        <div class="w3-bar w3-teal w3-wide w3-padding w3-card">
          <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-hover-teal w3-roboto"><p class="w3-xxlarge"><b style="text-decoration: none; color: white">Book</b><b style="text-decoration: none; color: orange">EX</b></p></a>
          <div class="w3-right">
            <a href="{% url 'logout' %}" class="w3-bar-item w3-button  w3-hover-white w3-right w3-round">Log out</a>
            <a href="{% url 'contact' %}" class="w3-bar-item w3-button w3-round w3-hover-white w3-right">Contact</a>
            <a href="{% url 'aboutUs' %}" class="w3-bar-item w3-button w3-round w3-hover-white w3-right">About</a>
            <br>
            <a href="{% url 'profile' %}" class="w3-bar-item w3-button  w3-hover-white w3-right w3-round-xxlarge">{{ user.username }}</a>
            <a href="{% url 'pending' %}" class="w3-bar-item w3-button w3-hover-white w3-right w3-round-xxlarge">Pending</a>

            <a href="{% url 'messages' %}" class="w3-bar-item w3-button w3-hover-white w3-right w3-round-xxlarge">Messages {% if unread_messages > 0 %}<span class="badge-2 red">{{unread_messages}}</span>{% endif %}</a>

            
          </div>
        </div>
      </div>

      {% else %} 
      <!-- nav_bar-->
	    <div class="w3-top">
	      <div class="w3-bar w3-teal w3-wide w3-padding w3-card">
	        <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-hover-teal w3-roboto"><p class="w3-xxlarge"><b style="text-decoration: none; color: tea">Book</b><b style="text-decoration: none; color: orange">EX</b></p></a>
	        <div class="w3-right w3-hide-small">
	          <a href="{% url 'aboutUs' %}" class="w3-bar-item w3-button w3-round w3-hover-white">About</a>
	          <a href="{% url 'contact' %}" class="w3-bar-item w3-button w3-round w3-hover-white">Contact</a> <br>
	          <a href="{% url 'login' %}" class="w3-bar-item w3-button w3-hover-white w3-right w3-round w3-padding-10">Log In</a>
	          <a href="{% url 'signup' %}" class="w3-bar-item w3-button w3-hover-white w3-right w3-round w3-padding-10">Sign Up</a>
	        </div>
	      </div>
	    </div>

      {% endif %}
    </div>
    <!-- Page content -->

    {% if user.is_authenticated %}
    <div  id="main" class="w3-container w3-content" style="max-width:1950px;margin-top:120px;margin-bottom: 150px;padding-left: 40px;padding-right: 40px; margin-left: 0; transition: margin-left 0.5s;">   

    {% endif %}

    {% block content %}
    {% endblock %}
    {% if user.is_authenticated %}
    </div>
    {% endif %}
    
    <!-- Footer -->
    <div class="footer" style="z-index: 999;" id="footer" onmouseover="openFooter()" onmouseout="closeFooter()">    
    
      <div class="w3-bar w3-white w3-wide w3-padding w3-card ">
        <div class="w3-content" style="max-width:2000px">            
          <div class="w3-row">
            <div class="w3-col m9 w3-large w3-margin-bottom ">
              <!-- The About Section -->
              <div id="about" style="margin-left: 0; transition: margin-left 0.5s">  
                <div class="w3-container w3-content" style="max-width:1950px">
                  <p class="w3-wide w3-left">ABOUT US</p>
                </div>
                <div class="w3-container w3-content" style="max-width:1950px; font-size: 14px" id="info">
                  <i class="fa fa-female" style="width:30px"></i> Nahian Ashraf, Roll: 02<br>
                  <i class="fa fa-female" style="width:30px"></i> Mahfida Jerin, Roll: 26<br>
                  <i class="fa fa-male" style="width:30px"> </i> M M Abid Naziri, Roll: 34<br>
                </div>
              </div>
            </div>
            <div class="w3-col m3 w3-large w3-margin-bottom">
              <!-- The Contact Section -->
              <div class="w3-container w3-content " style="max-width:1950px;" id="contact">
                <p class="w3-wide" id="cont" style="text-align: right;margin-right: 10px;transition: margin-right .5s;">CONTACT</p>
              </div>
              <div class="w3-container w3-content " style="max-width:1950px; font-size: 12px" id="address">
                <p class="w3-opacity w3-left"><i>Any advice? Drop a note!</i></p>
              </div>
              <div class="w3-container w3-content " style="max-width:1950px; font-size: 14px" id="address">
                <i class="fa fa-map-marker" style="width:30px"></i> Dhaka, Bangladesh<br>
                <i class="fa fa-envelope" style="width:30px"> </i> Email: BookEX@gmail.com<br>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>
    <script>
function openFooter() {
    document.getElementById("footer").style.bottom = "0";
    document.getElementById("cont").style.marginRight ="100%";
}

function closeFooter() {
    document.getElementById("footer").style.bottom = "-95px"
    document.getElementById("cont").style.marginRight = "0";
}
</script>  
  </main>
</body>
</html>
