{% extends 'base.html' %}

{% block title %}
<title>Contact Us</title>

{% endblock %}

{% block content %}

<div class="w3-container w3-card w3-white ">
  <div class="w3-row w3-roboto w3-container w3-padding-large" style="margin-top: 150px;padding-right: 10px; padding-left: 10px">
    <h1 class="w3-wide w3-roboto w3-center"> Contact US </h1> 
  </div>
  <div class="w3-container w3-content " style="font-size: 12px" id="address">
    <h4 class="w3-opacity w3-left"><i>Any advice? Drop a note!</i></h4>
  </div>
  <div class="w3-container w3-content " style="font-size: 14px" id="address">
    <i><h4 class="fa fa-map-marker" style="width:30px"></h4></i> Dhaka, Bangladesh<br>
    <i><h4 class="fa fa-envelope" style="width:30px"></h4> </i> Email: BookEX@gmail.com<br>
    </div>
  </div>
</div>

{% endblock %}