{% extends 'base.html' %}

{% block title %}
<title>Contact Us</title>

{% endblock %}

{% block content %}

<div class="w3-container w3-card w3-white ">
<div class="w3-container w3-content " style="max-width:1950px; margin-top: 200px; margin-bottom: 150px;">
                <p class="w3-wide" id="cont" style="text-align: center;margin-right: 10px;transition: margin-right .5s;">CONTACT</p>
              </div>
              <div class="w3-container w3-content " style="max-width:1950px; font-size: 12px" id="address">
                <p class="w3-opacity w3-left"><i>Any advice? Drop a note!</i></p>
              </div>
              <div class="w3-container w3-content " style="max-width:1950px; font-size: 14px" id="address">
                <i class="fa fa-map-marker" style="width:30px"></i> Dhaka, Bangladesh<br>
                <i class="fa fa-envelope" style="width:30px"> </i> Email: BookEX@gmail.com<br>
              </div>
            </div>
</div>

{% endblock %}