{% extends 'base.html' %}
{% load static %}
{% block title %}
<link rel="icon" href="{% static 'bookex-2.ico' %}" type="image/x-icon"> 
<link rel="firstpage" href="{% static 'BookEX.png' %}">
<link rel="review" href="{% static 'review_recommodation.png' %}">
<title>BookEX - Home</title>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}


<div class="w3-row ">
  <div class="w3-col m3 w3-large w3-margin-top" style="padding-right: 10px; padding-left: 10px">
	<div class="w3-card" style="width:100%">
		{% load static %}
		<a href="{% url 'list_of_books' %}">
		<img src="{% static 'test_img.jpeg' %}" alt="Books" style="width:100%; height: 100%">
		
		 <div class="w3-container">
      		<h4><b>Available Books</b></h4>
    	 </div>
    	 </a>
	</div>
  </div>
  <div class="w3-col m3 w3-large w3-margin-top" style="padding-right: 10px; padding-left: 10px">
  <div class="w3-card" style="width:100%">
		{% load static %}
		<a href="{% url 'searchbook' %}">
		<img src="{% static 'donate_book.jpg' %}" alt="Donate" style="width:100%; height: 100%">
		 <div class="w3-container">
      		<h4><b>Donate now!</b></h4>
    	 </div>
    	 </a>
	</div>
  </div>
<div class="w3-col m3 w3-large w3-margin-top" style="padding-right: 10px; padding-left: 10px">
  <div class="w3-card" style="width:100%">
		{% load static %}
		<a href="{% url 'addbook' %}">
		<img src="{% static 'img.jpg' %}" alt="Find Books" style="width:100%; height: 100%">
		
		 <div class="w3-container">
      		<h4><b>Find with ISBN</b></h4>
    	 </div>
    	 </a>
	</div>
  </div>
  <div class="w3-col m3 w3-large w3-margin-top" style="padding-right: 10px; padding-left: 10px">
    <div class="w3-card" style="width:100%">
		{% load static %}
		<a href="{% url 'requestbook' %}">
		<img src="{% static 'request_book.jpg' %}" alt="Request Books" style="width:100%; height: 100%">
		
		 <div class="w3-container">
      		<h4><b>Request Books</b></h4>
    	 </div>
    	 </a>
	</div>
  </div>
</div>
  
{% else %}
{% load static %}
<div class="w3-display-container w3-content" style="margin-top:150px;margin-bottom: 50px;padding-left: 40px;padding-right: 40px; width:100%; height: 100%">
	 <!-- Slideshow container -->
  <img class="mySlides" src="{% static 'BookEX.png' %}" style="width:100%; height: 100%">
  <img class="mySlides" src="{% static 'review_recommodation.png' %}" style="width:100%; height: 100%">
  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
  </div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>
  <!--a href="{% url 'signup' %}"><img src="{% static 'JoinUs.png' %}" alt="Join us!" class="zoom" style="width:30%;padding-top: 230px;"></a>
</div-->
{% endif %}
{% endblock %}
