{% extends 'base.html' %}
{% load static %}
{% block title %}
<link rel="icon" href="{% static 'bookex-2.ico' %}" type="image/x-icon"> 
<title>BookEX - Home</title>
{% endblock %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if user.is_authenticated %}
<!--Notifications-->
{% include 'side_navbar.html' %}
<!--Notifications-->
	<div class="w3-row ">
	  <div class="w3-col m3 w3-large w3-margin-top" style="padding-right: 10px; padding-left: 10px">
		<div class="w3-card" style="width:100%">
			{% load static %}
			<a href="{% url 'list_of_books' %}">
				<img src="{% static 'test_img.jpeg' %}" alt="Books" style="width:100%; height: 100%">
				 <div class="w3-container">
		      		<h4><b>Library</b></h4>
		    	</div>
	    	 </a>
		</div>
	  </div>
  <div class="w3-col m3 w3-large w3-margin-top" style="padding-right: 10px; padding-left: 10px">
	  <div class="w3-card" style="width:100%">
			{% load static %}
			<a href="{% url 'searchbook' %}">
			<img src="{% static 'donate_book.jpg' %}" alt="Donate" style="width:100%; height: 100%">
			 <div class="w3-container">
	      		<h4><b>Add to library</b></h4>
	    	 </div>
	    	 </a>
		</div>
  </div>
	<div class="w3-col m3 w3-large w3-margin-top" style="padding-right: 10px; padding-left: 10px">
		<div class="w3-card" style="width:100%">
			{% load static %}
			<a href="{% url 'wishlist' %}">
			<img src="{% static 'wish.jpg' %}" alt="Wishlist" style="width:100%; height: 100%">
				<div class="w3-container">
		      		<h4><b>Your wishlist</b></h4>
		    	</div>
	    	 </a>
		</div>
	</div>
	<div class="w3-col m3 w3-large w3-margin-top" style="padding-right: 10px; padding-left: 10px">
		<div class="w3-card" style="width:100%">
			{% load static %}
			<a href="{% url 'requestbook' %}">
				<img src="{% static 'request_book.jpg' %}" alt="Request Books" style="width:100%; height: 100%">
			
				<div class="w3-container">
		      		<h4><b>Request books</b></h4>
		    	</div>
	    	</a>
		</div>
	</div>
</div>


{% else %}
{% load static %}

{% load static %}
<div class="fullscreen" style="padding-top: 70px;">
	<div class="slider" id="main-slider" style="height: auto;width: auto;"><!-- outermost container element -->
		<div class="slider-wrapper"><!-- innermost wrapper element -->
			<img src="{% static 'sami.jpg' %}" alt="Sami" class="slide" /><!-- slides -->
			<img src="{% static 'Mahfida.jpg' %}" alt="Nitu" class="slide" /><!-- slides -->
			<img src="{% static 'rizvee.jpg' %}" alt="Raida" class="slide" /><!-- slides -->	
		</div>
	</div>	
</div>
<div style="position: absolute;top: 40%; left:42%;z-index: 999; color: transparent;">
	<h1><a class="w3-padding-large w3-xxl w3-round w3-hover-teal" style="transition: all 1s;" href="{% url 'story' %}">Our story</a></h1>
</div>
<script>
(function() {
	
	function Slideshow( element ) {
		this.el = document.querySelector( element );
		this.init();
	}
	
	Slideshow.prototype = {
		init: function() {
			this.wrapper = this.el.querySelector( ".slider-wrapper" );
			this.slides = this.el.querySelectorAll( ".slide" );
			this.previous = this.el.querySelector( ".slider-previous" );
			this.next = this.el.querySelector( ".slider-next" );
			this.index = 0;
			this.total = this.slides.length;
			this.timer = null;
			this.action();	
		},
		_slideTo: function( slide ) {
			var currentSlide = this.slides[slide];
			currentSlide.style.opacity = 1;
			
			for( var i = 0; i < this.slides.length; i++ ) {
				var slide = this.slides[i];
				if( slide !== currentSlide ) {
					slide.style.opacity = 0;
				}
			}
		},
		action: function() {
			var self = this;
			self.timer = setInterval(function() {
				self.index++;
				if( self.index == self.slides.length ) {
					self.index = 0;
				}
				self._slideTo( self.index );
				
			}, 3000);
		},
		stopStart: function() {
			var self = this;
			
			self.el.addEventListener( "mouseout", function() {
				self.action();
				
			}, false);
		}
		
		
	};
	
	document.addEventListener( "DOMContentLoaded", function() {
		
		var slider = new Slideshow( "#main-slider" );
		
	});
	
	
})();


</script>
{% endif %}
{% endblock %}
