{% extends 'base.html' %}
{% load static %}
{% block title %}
<link rel="icon" href="{% static 'bookex-2.ico' %}" type="image/x-icon"> 
<title>BookEX - Home</title>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}


<div class="w3-row">
  <div class="w3-col m3 w3-large w3-margin-top" style="padding-right: 10px; padding-left: 10px">
	<div class="w3-card" style="width:100%">
		{% load static %}
		<a href="{% url 'list_of_books' %}">
		<img src="{% static 'test_img.jpeg' %}" alt="Books" style="width:100%; height: 100%">
		
		 <div class="w3-container">
      		<h4><b>Available Books</b></h4>
    	 </div>
    	 </a>
	</div>
  </div>
  <div class="w3-col m3 w3-large w3-margin-top" style="padding-right: 10px; padding-left: 10px">
  <div class="w3-card" style="width:100%">
		{% load static %}
		<a href="{% url 'searchbook' %}">
		<img src="{% static 'donate_book.jpg' %}" alt="Donate" style="width:100%; height: 100%">
		 <div class="w3-container">
      		<h4><b>Donate now!</b></h4>
    	 </div>
    	 </a>
	</div>
  </div>
<div class="w3-col m3 w3-large w3-margin-top" style="padding-right: 10px; padding-left: 10px">
  <div class="w3-card" style="width:100%">
		{% load static %}
		<a href="{% url 'addbook' %}">
		<img src="{% static 'img.jpg' %}" alt="Find Books" style="width:100%; height: 100%">
		
		 <div class="w3-container">
      		<h4><b>Find with ISBN</b></h4>
    	 </div>
    	 </a>
	</div>
  </div>
  <div class="w3-col m3 w3-large w3-margin-top" style="padding-right: 10px; padding-left: 10px">
    <div class="w3-card" style="width:100%">
		{% load static %}
		<a href="{% url 'requestbook' %}">
		<img src="{% static 'request_book.jpg' %}" alt="Request Books" style="width:100%; height: 100%">
		
		 <div class="w3-container">
      		<h4><b>Request Books</b></h4>
    	 </div>
    	 </a>
	</div>
  </div>
</div>
  
{% else %}
{% load static %}
  <img src="{% static 'sami.jpg' %}" alt="Books" style="width:100%">
{% endif %}
{% endblock %}
