{% extends 'base.html' %}
{% block title %}
{% load static %}
<link rel="icon" href="{% static 'bookex.ico' %}" type="image/x-icon"> 
<title>Library</title>
{% endblock %}
{% block content %}
<!--Notifications-->
{% include 'side_navbar.html' %}
<!--Notifications-->

<div class="w3-container w3-card w3-padding-large">
  <h2 class="w3-center">Top Donors</h2>

  <table border = "1" class="w3-margin-bottom w3-wide">
    <tr>
      <th>User Name</th>
	<th>First Name</th>
	<th>Last Name</th>
      <th>Batch</th>
      <th>Roll</th>
      <th>Number of Donated Books(s)</th>
    </tr>
    {% for donor,user in donors %}
    <tr>
      <td><a href="{% url 'viewprofile' username=donor.user_name %}">{{donor.user_name}}</td></a>
	<td>{{user.first_name}}</td>
	<td>{{user.last_name}}</td>      
	<td>{{donor.batch}}</td>
      <td>{{donor.roll}}</td> 
      <td>{{donor.donate_count}}</td>
    </tr>
    {% endfor %} 
  </table>
</div>

{% endblock %}
