{% load static %}
<style>
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
#overlay2 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
#overlay3 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
#text{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
#text2{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
#text3{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

</style>

<div id="mySidenav" class="sidenav">
	<a href="{% url 'home' %}" class="w3-bar-item w3-center zoom w3-roboto"><p class="w3-xxlarge"><b style="text-decoration: none; color: white">Book</b><b style="text-decoration: none; color: orange">EX</b></p></a>
	<div class="w3-margin-bottom">
		<font color = "white" class="w3-wide w3-margin-left"> Notifications: </font>
	</div>
  	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	{% for book,boi,wish,cnt in donate %}
	<div class="w3-container">
		<div class="w3-card w3-margin-bottom w3-teal w3-padding-small w3-container" style="position: relative;">
			<span class="label label-success w3-right" style="margin-top: 5px;">Requested: {{wish.count}}</span>
			<p class="small"><a href="{% url 'viewprofile' username=wish.user.username %}">{{wish.user.first_name}} {{wish.user.last_name}}</a>Requested on {{wish.request_date}} </p>
 			<a href="{% url 'viewbookprofile' req_isbn=wish.isbn %}"><h4>{{wish.book_name}}</h4> </a> 
			<i>{{wish.author_name}}, 
			{{wish.edition}}
			{% if wish.edition is 1 %}
			st edition
			{% elif wish.edition is 2 %}
			nd edition
			{% else %}
			th edition
			{% endif %}
			</i>	
			<div class="w3-margin-top" style="padding-bottom: 15px;margin-bottom: 5px;">
				<span class="label label-info w3-left">You have: {{cnt}}</span>
				<button class="btn btn-info btn-xs w3-right" onclick="return on('{{wish.isbn}}', '{{wish.user.username}}')" style="margin-top: -5px;">Donate</button>
			</div>
		</div>
	</div>


	<div id="overlay" class="w3-card ">
	  <div id="text">
	  	<button class="btn btn-success btn-sm w3-left" onclick="off()">Back</button><br>
		  <form action="{% url 'donate_final' %}" method="POST" class="post-form" enctype='multipart/form-data'>
			  {% csrf_token %}
			  <h3 style="margin-top: 30px">Do you want to donate this book?</h3>
			  <input type="hidden" name="username" style="margin-top: 20px" id="username" value="{{wish.user.username}}">
			  <input type="hidden" name="isbn" style="margin-top: 20px" id="isbn" value="{{wish.isbn}}">
			  <label for="condition" style="margin-top: 20px">Condition</label>
			  <input type="range" name="condition" style="margin-top: 20px" list="tickmarks" min="0" max="5" step=".1" oninput="displaylabel(this.value)">
		       <em id="rangeValLabel" style="font-style: normal; margin-top: 05px">Satisfactory</em><br>
			  <br>{{form.as_p}}
			  <button class="btn btn-warning btn-sm w3-right w3-margin-left" type="button" style="margin-top: 05px" onclick="off();" >Cancel</button>
			  <button class="btn btn-info btn-sm w3-right" type="submit" style="margin-top: 05px" onclick="return donated();" >Confirm</button>
			  
		  </form>
	  </div>
	</div>
	{% endfor %}

<!-- Heeeeeeeeeeeeeeeeeeeeeeeeeelllllllllllllllllllo -->
	{% for book, boi, wish, profile in receive %}
	<div class="w3-container">		  	
	  <div class="w3-card w3-margin-bottom w3-teal w3-padding-small w3-container" style="position: relative;">
		<p class="small"><a href="{% url 'viewprofile' username=profile.username %}">{{profile.first_name}} {{profile.last_name}}</a>approved the request you made on {{wish.request_date}} </p>
		 <a href="{% url 'viewbookprofile' req_isbn=wish.isbn %}"><h4>{{wish.book_name}}</h4> </a> 
		<i>
			{{wish.author_name}}, 
			{{wish.edition}}
			{% if wish.edition is 1 %}
			st edition
			{% elif wish.edition is 2 %}
			nd edition
			{% else %}
			th edition
			{% endif %}
			<br>Condition : {{boi.condition}}/5.0<br>
		</i>
		<div class="w3-margin-top" style="padding-bottom: 15px;margin-bottom: 5px;">
		    <button class="btn btn-info btn-xs w3-right" onclick="return reject()" style="margin-top: -5px;">Cancel</button>
			<button class="btn btn-info btn-xs w3-right w3-margin-right" onclick="return confirm()" style="margin-top: -5px;">Confirm</button>
			<div id="overlay2">
			  <div id="text2">
			  	<button class="btn btn-success btn-sm w3-left" onclick="return back2();">Back</button><br>
			    <h3 style="margin-top: 30px">Have you received the book from {{profile.first_name}} {{profile.last_name}} ? </h3>
				<form action="{% url 'confirm_donation' %}">
				  <input type="hidden" name="boiii" id="boiii" value="{{boi.book_id}}">
				  <input type="hidden" name="wishlist" id="wishlist" value="{{wish.id}}">
				  <button class="btn btn-warning btn-sm w3-right w3-margin-left" type="button" style="margin-top: 05px" onclick="back2();" >Cancel</button>
			  	  <button class="btn btn-info btn-sm w3-right" style="margin-top: 25px" type="submit" onclick="return finalConfirm()" >Confirm</button>
				</form>
			  </div>
			</div>
			<div id="overlay3">
			  <div id="text3">
				  <button class="btn btn-success btn-sm w3-left" onclick="return back3();">Back</button><br>
				  <h3 style="margin-top: 30px">Are you sure you want to reject the offer from {{profile.first_name}} {{profile.last_name}} ? </h3>
				  <form action="{% url 'confirm_rejection' %}">
				  <input type="hidden" name="boiii" id="boiii" value="{{boi.book_id}}">
				  <input type="hidden" name="wishlist" id="wishlist" value="{{wish.id}}">
				  <button class="btn btn-warning btn-sm w3-right w3-margin-left" type="button" style="margin-top: 05px" onclick="back3();" >Cancel</button>
				  <button class="btn btn-info btn-xs w3-right" style="margin-top: 25px" type="submit" onclick="return finalReject()"" >Confirm</button>
			  	</form>
			  </div>
			</div>

		</div>
	  </div>
	</div>

	{% endfor %}
<!--                Shesh                        -->
	
	
</div>
	
<script>
function on(val, usr) {
    document.getElementById("overlay").style.display = "block";
    document.getElementById("isbn").value = val;
    document.getElementById("username").value = usr;
}
function donated() {
	alert("Thank you for donating!");
	document.getElementById("overlay").style.display = "none";
}
function off() {
	document.getElementById("overlay").style.display = "none";
}
function back2() {
	document.getElementById("overlay2").style.display = "none";
}
function back3() {
	document.getElementById("overlay3").style.display = "none";
} 
function confirm() {
	document.getElementById("overlay2").style.display = "block";
}
function reject() {
    document.getElementById("overlay3").style.display = "block";
}
function displaylabel(val) {
	var ret;
	if(val >= 0 && val < 5/3) ret = "Poor";
	else if(val >= 5/3 && val < 10/3) ret = "Satisfactory";
	else ret="Excellent";
	document.getElementById('rangeValLabel').innerHTML = ret;
}
function finalConfirm(){
	alert("Congrats on your book! We hope you like it ^_^")
	document.getElementById("overlay2").style.display = "none";
}
function finalReject(){
	alert("We respect your decision ^_^")
	document.getElementById("overlay2").style.display = "none";
}
function openNav() {
	document.getElementById("mySidenav").style.width = "20%";
    document.getElementById("main").style.marginLeft = "20%";
    document.getElementById("about").style.marginLeft = "27%";
}

function closeNav() {
	document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
    document.getElementById("about").style.marginLeft= "0";
}
</script>

