{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Profile-{{user.username}}
</title>
<link rel="icon" href="{% static 'profile.ico' %}" type="image/x-icon"> 
{% endblock %}  

{% block content %}
<!-- Profile-->
<div class="w3-container w3-white w3-margin-top w3-padding-8">
	<div class="w3-third w3-card w3-padding-large" style="max-width:1950px;padding-left: 10px;padding-right: 10px">

	    	{% load static %}
        	<div class="profile-header-container">   
    		  <div class="profile-header-img">
                <img class="img-circle" src="{{profile.photo.url}}" alt="Dp" style="width:250px; height: 250px;">
                <!-- badge -->
                <div class="rank-label-container">
                    <span class="label label-default rank-label">{{profile.user_name}}</span>
                </div>
              </div>
       		</div> 
			<p class="w3-wide "><h2>{{user.first_name}} {{user.last_name}}</h2><a href="{% url 'editprofile' %}" class="btn w3-margin-bottom w3-margin-right w3-right"><i class="fa fa-edit" style="font-size:18px;color: tomato;">Edit</i></a>
			<i class="username">{{profile.user_name}}</i></p> 
			<p class="w3-wide"> Member since {{user.date_joined}} </p>
			
      	
    </div>

	<div class="w3-third w3-padding-large" style="text-align:right ;max-width:1950px;padding-left: 10px;padding-right: 10px">
		<p class="w3-wide "><h1>ABOUT</h1 </p><br>
		<p class="w3-wide ">First name: {{user.first_name}} </p><br>
		<p class="w3-wide ">Last name: {{user.last_name}} </p><br> 
		<p class="w3-wide ">Batch: {{profile.batch}} </p><br>
		<p class="w3-wide ">Roll: {{profile.roll}} </p><br>
		<p class="w3-wide ">E-mail Address: {{user.email}} </p><br>
		<p class="w3-wide ">Phone Number: {{profile.phone}} </p><br>
		<p class="w3-wide ">Last login: {{user.last_login}} </p><br>
		
	</div>


{% if donated %}
<div class="w3-third w3-margin-top w3-white w3-right w3-padding-large" style="text-align: right;">
	<p class="w3-wide ">Books Donated: {{profile.donate_count}} </p><br>
	
		  {% for new_list,author_name_list in book %}
		  <div class="w3-card w3-container w3-padding-large w3-margin-bottom">
			<h3>{{new_list.book_name}}</h3>
			<h4>{{author_name_list}}</h4>
			<p>
			{% if new_list.rating >= 1.0 %}
			<span class="fa fa-star checked"></span>
			{% else %}
			<span class="fa fa-star"></span>
			{% endif %}
			{% if new_list.rating >= 2.0 %}
			<span class="fa fa-star checked"></span>
			{% else %}
			<span class="fa fa-star"></span>
			{% endif %}
			{% if new_list.rating >= 3.0 %}
			<span class="fa fa-star checked"></span>
			{% else %}
			<span class="fa fa-star"></span>
			{% endif %}
			{% if new_list.rating >= 4.0 %}
			<span class="fa fa-star checked"></span>
			{% else %}
			<span class="fa fa-star"></span>
			{% endif %}
			{% if new_list.rating >= 5.0 %}
			<span class="fa fa-star checked"></span>
			{% else %}
			<span class="fa fa-star"></span>
			{% endif %}
			</p>
			<i>{{new_list.publish_year}}</i>
		  </div>

		{% endfor %} 
</div>
{% else %}
<div class="w3-third w3-margin-top container">

<img src="{% static 'sad.jpg' %}" class="img-circle w3-right" style="height: 60%; width:100%;opacity: 0.2;">
<div class="centered"><h3 class="w3-wide" style="text-align: center;color: grey">Why don't you donate some books?</h3></div>
</div>
{% endif %}
{% endblock %}
